<title>Login</title>
<h1>Login</h1>
<form action="/auth/login" method="POST">
    <input type="email" name="email">
    <input type="text" name="password">
    <input type="submit" value="login">
</form>
<a href="/auth/google">Login with Google</a>