<title>Signup</title>
<h1>Signup</h1>
<form action="/auth/signup/fjdsjfksajfkdjsa" method="POST">
    <input type="email" name="email">
    <input type="text" name="password">
    <input type="submit" value="login">
</form>
<a href="/auth/google">Login with Google</a>
<a href="/auth/flicker/auth-token">Login with Flicker</a>
<script>

</script>