PORT=
MONGO_URI=
ADMIN_MAIL=

#FILE_LIMIT
URLENCODED_LIMIT=10mb
JSON_FILE_LIMIT=10mb


#Authentication
COOKIE_SECRET=
JWT_SECRET=

#Mail Send
GOOGLE_USER=
CLIENT_ID=
CLIENT_SECRET=
CLIENT_SECRET=REFRESH_TOKEN
